<template name="descreng">
    <div class="page-header">
        <h1>Hærtaktisk Ordliste
            <small>(HTO)</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">

            <p>
                HTO er udarbejdet af Sektionen for Engelsk, Institut for Sprog og Kultur.
                Den indeholder termer, udtryk og forkortelser der er anvendt i autoriserede engelsksprogede
                hær-taktiske tekster, dvs primært reglementer.

            </p>

            <p> HO faggrupperne Ledelse, Taktik, Taktisk Efterretning og Idræt har støttet med input til de danske
                termer og udtryk.</p>

            <p>HTO er en dynamisk liste, som med jævne mellemrum vil blive opdateret.</p>

            <p><b>Forslag til opdateringer kan sendes til Sektionen for Engelsk, Institut for Sprog og Kultur.</b>
            </p>


            <ul>
                <li>fak-isk-et02@mil.dk</li>
                <li> fak-isk-et05@mil.dk</li>
            </ul>


        </div>

        <div class="col-md-6">

            <p>Listen er opstillet alfabetisk på både dansk og engelsk. Ord og udtryk der indledes med tal er
                placeret før den alfabetiske liste.</p>
            <ul>
                <li>Opslag efterfulgt af (UK) eller (US) angiver enten britisk eller amerikansk stavemåde eller
                    sprogbrug.
                </li>
                <li>Opslag efterfulgt af (1), (2), (3) osv angiver at ét ord har flere forskellige oversættelser,
                    afhængig af sammenhæng.
                </li>
                <li>Opslag efterfulgt af ! angiver at ordet/vendingen er en kommando.</li>
                <li>Opslag skrevet med STORE BOGSTAVER angiver at ordet/vendingen er et radio ekspeditionsord.</li>
            </ul>



        </div>
    </div>

</template>