<template name="home">


    <div class="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive round" src="Fra.jpg" alt="Generic placeholder image">

                <h2>Fransk</h2>

                <div class="showmore">
                <p>Ordlisten er først og fremmest at betragte som et praktisk redskab for forsvaret som helhed –
                    både i forbindelse med læsning af fransksproget faglitteratur
                    og i de praktiske situationer, hvor danske væbnede styrker samarbejder direkte med fransksproget personel
                    eller opererer i fransktalende områder.</p>
                </div>
                <p><a class="btn btn-default black" href="/descriptionfr" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-responsive round" src="Eng.jpg" >

                <h2>Hærtaktisk ordliste</h2>
                <div class="showmore">
                <p>HTO er udarbejdet af Sektionen for Engelsk, Institut for Sprog og Kultur.
                    Den indeholder termer, udtryk og forkortelser der er anvendt i autoriserede engelsksprogede hær-taktiske tekster,
                    dvs primært reglementer.</p>
                    </div>
                <p><a class="btn btn-default black" href="/descriptioneng" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-responsive round" src="Dan.jpg" alt="Generic placeholder image" >

                <h2>Hærens Taktiske Ordbog</h2>

                <div class="showmore">
                <p>Hærens Taktiske Ordbog definerer en række af de taktiske begreber, der anvendes i den danske hær.
                    Ordbogen er autoritativ i forhold til definitioner og forkortelser,
                    og den er tilgængelig på FIIN, internettet og som mobil applikation.</p>
                    </div>

                <p><a class="btn btn-default black" href="/descriptiontac" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

</template>
