<template name="home">

    <div class="jumbotron">

        <div class="container">
        <p>Her finder du en samling af ordlister og ordbøger anvendt og udviklet af forsvaret.</p>



        </div>


    </div>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="franceflag.jpg" alt="Generic placeholder image" width="120" height="120">
                <h2>Fransk</h2>
                <p>Ordlisten er først og fremmest at betragte som et praktisk redskab for forsvaret som helhed –
                    både i forbindelse med læsning af fransksproget faglitteratur
                    og i de praktiske situationer, hvor danske væbnede styrker samarbejder direkte med fransksproget personel
                    eller opererer i fransktalende områder.</p>
                <p><a class="btn btn-default" href="#" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="britishflag1.jpg" width="120" height="120">
                <h2>Hærtaktisk ordliste</h2>
                <p>HTO er udarbejdet af Sektionen for Engelsk, Institut for Sprog og Kultur.
                    Den indeholder termer, udtryk og forkortelser der er anvendt i autoriserede engelsksprogede hær-taktiske tekster,
                    dvs primært reglementer.</p>
                <p><a class="btn btn-default" href="#" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="FAK.gif" alt="Generic placeholder image" width="120" height="120">
                <h2>Hærens Taktiske Ordbog</h2>
                <p>Hærens Taktiske Ordbog definerer en række af de taktiske begreber, der anvendes i den danske hær.
                    Ordbogen er autoritativ i forhold til definitioner og forkortelser,
                    og den er tilgængelig på FIIN, internettet og som mobil applikation.</p>

                <p><a class="btn btn-default" href="#" role="button">Læs mere</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

</template>
